*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(218, 218, 136);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}


form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2em;
    margin: 6rem;
    width: 400px;
    box-shadow: 8px 8px 8px 8px rgba(50, 50, 50, 0.22);
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

button{
    background-color: #E0C200;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-family: "Roboto", sans-serif, 'Courier New';
    font-weight: 400;
    font-style: normal;
}

section{
    margin-bottom: 15px;
}


input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 350px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}